.header {
    height: 60px;
    background-color: #fff;
    z-index: 10000;
    will-change: transform;
    -webkit-transition: position .5s ease-in-out,background-color .3s ease-in-out,-webkit-transform .5s ease-in-out;
    transition: position .5s ease-in-out,transform .5s ease-in-out,background-color .3s ease-in-out,-webkit-transform .5s ease-in-out;
    -o-transition: position .5s ease-in-out,transform .5s ease-in-out,background-color .3s ease-in-out
}

.header.sticky {
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 0 15px rgba(37,143,103,.1);
    box-shadow: 0 0 15px rgba(37,143,103,.1)
}

.header.opened {
    -webkit-box-shadow: none;
    box-shadow: none
}

.header--pinned {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.header--unpinned {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.header_logo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
}

.header_logo span:not(.logo) {
    display: none
}

.header_nav {
    width: 100%;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .5s,padding-top .5s;
    -o-transition: height .5s,padding-top .5s;
    transition: height .5s,padding-top .5s;
    font-family: NunitoSans,sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #214842;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #fff
}

.header_nav.active {
    height: 100vh;
    padding-top: 30px;
    overflow-y: scroll;
    -webkit-box-shadow: 0 30px 15px rgba(37,143,103,.07);
    box-shadow: 0 30px 15px rgba(37,143,103,.07)
}

.header_nav .nav-item {
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    font-size: 17px;
    line-height: 1.3
}

.header_nav .nav-item.active,.header_nav .nav-item:hover {
    color: #258f67
}

.header_nav .dropdown-toggle {
    margin-bottom: 20px
}

.header_nav .dropdown-toggle .icon {
    font-size: 14px;
    margin-left: 5px
}

.header_nav .dropdown-menu {
    padding-bottom: 15px
}

.header_nav .dropdown .nav-item {
    margin-bottom: 20px
}

.header_nav .dropdown .nav-item:last-of-type {
    margin-bottom: 0
}

.header_user {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.header_user-action {
    border-radius: 50%;
    background: #efc368;
    color: #214842;
    width: 40px;
    height: 40px;
    font-size: 16px
}

.header_user-action:first-of-type {
    margin-right: 15px
}

.header_user-search_field {
    display: none
}

.header_trigger {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 30px;
    height: 28px;
    margin-right: 15px
}

.header_trigger .line {
    border-radius: 2px;
    background: #214842;
    height: 4px;
    width: 100%;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out
}

.header_trigger .line--short {
    width: 75%
}

.header_trigger.active .line--short {
    width: 100%
}

@media screen and (min-width:767.98px) {
    .header_logo span:not(.logo) {
        display: inline
    }

    .header_logo .accent {
        color: #214842
    }

    .header_logo .logo {
        margin-right: 10px
    }

    .header_nav.active {
        height: 50vh
    }

    .header_user-search {
        position: relative;
        margin-right: 15px
    }

    .header_user-search_field {
        display: inline;
        padding: 0 20px;
        height: 40px;
        border: 1px solid #c6c6c6;
        border-radius: 20px;
        background: #fff
    }

    .header_user-search_field::-webkit-input-placeholder {
        color: #214842;
        -webkit-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        font-size: 14px
    }

    .header_user-search_field::-moz-placeholder {
        color: #214842;
        -moz-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        font-size: 14px
    }

    .header_user-search_field:-ms-input-placeholder {
        color: #214842;
        -ms-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        font-size: 14px
    }

    .header_user-search_field::-ms-input-placeholder {
        color: #214842;
        -ms-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        font-size: 14px
    }

    .header_user-search_field::placeholder {
        color: #214842;
        -webkit-transition: opacity .3s ease-in-out;
        -o-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        font-size: 14px
    }

    .header_user-search_field:focus::-webkit-input-placeholder {
        opacity: 0
    }

    .header_user-search_field:focus::-moz-placeholder {
        opacity: 0
    }

    .header_user-search_field:focus:-ms-input-placeholder {
        opacity: 0
    }

    .header_user-search_field:focus::-ms-input-placeholder {
        opacity: 0
    }

    .header_user-search_field:focus::placeholder {
        opacity: 0
    }

    .header_user-search_btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0!important
    }
}

@media screen and (min-width:1199.98px) {
    .header {
        height: 140px;
        -webkit-transition: height .3s ease-in,background-color .2s,-webkit-transform .5s ease-in-out;
        transition: transform .5s ease-in-out,height .3s ease-in,background-color .2s,-webkit-transform .5s ease-in-out;
        -o-transition: transform .5s ease-in-out,height .3s ease-in,background-color .2s
    }

    .header.sticky {
        height: 90px
    }

    .header_user-search {
        margin-right: 150px
    }

    .header_user-action:first-of-type {
        margin-right: 30px
    }

    .header_nav {
        position: static;
        background: 0 0;
        padding: 0!important;
        height: unset;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-left: 60px;
        font-size: 17px
    }

    .header_nav-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .header_nav-list_item {
        margin-right: 40px
    }

    .header_nav-list_item:last-of-type {
        margin-right: 0
    }

    .header_nav-list_item .nav-link {
        margin-bottom: 0
    }

    .header_nav .dropdown-menu {
        position: absolute;
        opacity: 0;
        max-height: unset;
        text-align: left;
        visibility: hidden;
        padding-top: 15px;
        -webkit-transition: opacity .3s;
        -o-transition: opacity .3s;
        transition: opacity .3s
    }

    .header_nav .dropdown-menu .dropdown-list {
        background: #fff;
        -webkit-box-shadow: 0 0 15px rgba(37,143,103,.07);
        box-shadow: 0 0 15px rgba(37,143,103,.07);
        border-radius: 8px;
        padding: 30px
    }

    .header_nav .dropdown-menu .dropdown-list .nav-item {
        margin-bottom: 30px;
        -webkit-transition: color .3s;
        -o-transition: color .3s;
        transition: color .3s
    }

    .header_nav .dropdown-menu .dropdown-list .nav-item:last-of-type {
        margin-bottom: 0
    }

    .header_nav .dropdown-menu .dropdown-list .nav-item.active:before,.header_nav .dropdown-menu .dropdown-list .nav-item:hover:before {
        display: none
    }

    .header_nav .dropdown-menu.active {
        opacity: 1;
        visibility: visible
    }
}