.header {
    height: 60px;
    background-color: #fff;
    z-index: 10000;
    will-change: transform;
    transition: position .5s ease-in-out, background-color .3s ease-in-out, transform .5s ease-in-out;
}

.header.sticky {
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 15px rgba(37, 143, 103, .1);
}

.header.opened {
    box-shadow: none;
}

.header--pinned {
    transform: translateY(0);
}

.header--unpinned {
    transform: translateY(-100%);
}

.header_logo {
    order: 2;
}

.header_nav {
    width: 100%;
    order: 4;
    height: 0;
    overflow: hidden;
    transition: height .5s, padding-top .5s;
    font-family: NunitoSans, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #214842;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #fff;
}

.header_nav.active {
    height: 100vh;
    padding-top: 30px;
    padding-left: 15px;
    overflow-y: scroll;
    box-shadow: 0 30px 15px rgba(37, 143, 103, .07);
}

.header_nav .nav-item {
    transition: color .3s ease-in-out;
    font-size: 17px;
    line-height: 1.3;
}

.header_nav .nav-item.active,
.header_nav .nav-item:hover {
    color: #258f67;
}

.header_user {
    order: 3;
    flex-grow: 1;
}

.header_user-action {
    border-radius: 50%;
    background: #efc368;
    color: #214842;
    width: 40px;
    height: 40px;
    font-size: 16px;
}

.header_user-action:first-of-type {
    margin-right: 15px;
}

.header_user-search_field {
    display: none;
}

.header_trigger {
    order: 1;
    width: 30px;
    height: 28px;
    margin-right: 15px;
}

.header_trigger .line {
    border-radius: 2px;
    background: #214842;
    height: 4px;
    width: 100%;
    transition: width .3s ease-in-out;
}

.header_trigger .line--short {
    width: 75%;
}

.header_trigger.active .line--short {
    width: 100%;
}

.header .logo {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

/* Logo styling for screen width 320px to 767.98px */
@media (max-width: 767.98px) {
    .header .logo {
        max-width: 80px;
    }
}

/* Logo styling for screen width 768px to 1023.98px */
@media (min-width: 768px) and (max-width: 1023.98px) {
    .header .logo {
        max-width: 90px;
    }
}

/* Logo styling for screen width 1024px to 1403.98px */
@media (min-width: 1024px) and (max-width: 1403.98px) {
    .header .logo {
        max-width: 90px;
    }
}

/* Logo styling for screen width 1404px to 2559.98px */
@media (min-width: 1404px) and (max-width: 2559.98px) {
    .header .logo {
        max-width: 250px;
    }
}

/* Logo styling for screen width 2560px and above */
@media (min-width: 2560px) {
    .header .logo {
        max-width: 280px;
    }
}

@media screen and (min-width: 767.98px) {
    .header_logo span:not(.logo) {
        display: inline;
    }

    .header_logo .accent {
        color: #214842;
    }

    .header_logo .logo {
        margin-right: 10px;
    }

    .header_nav.active {
        height: 50vh;
    }

    .header_user-search {
        position: relative;
        margin-right: 15px;
    }

    .header_user-search_field {
        display: inline;
        padding: 0 20px;
        height: 40px;
        border: 1px solid #c6c6c6;
        border-radius: 20px;
        background: #fff;
    }

    .header_user-search_field::placeholder {
        color: #214842;
        transition: opacity .3s ease-in-out;
        font-size: 14px;
    }

    .header_user-search_field:focus::placeholder {
        opacity: 0;
    }

    .header_user-search_btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0 !important;
    }
}

@media screen and (min-width: 1199.98px) {
    .header {
        height: 140px;
        transition: transform .5s ease-in-out, height .3s ease-in, background-color .2s;
    }

    .header.sticky {
        height: 90px;
    }

    .header_user-search {
        margin-right: 150px;
    }

    .header_user-action:first-of-type {
        margin-right: 30px;
    }

    .header_nav {
        position: static;
        background: 0 0;
        padding: 0 !important;
        height: unset;
        order: 2;
        margin-left: 60px;
        font-size: 17px;
    }

    .header_nav-list {
        display: flex;
    }

    .header_nav-list_item {
        margin-right: 40px;
    }

    .header_nav-list_item:last-of-type {
        margin-right: 0;
    }

    .header_nav-list_item .nav-link {
        margin-bottom: 0;
    }

    .header_nav .dropdown-menu {
        position: absolute;
        opacity: 0;
        max-height: unset;
        text-align: left;
        visibility: hidden;
        padding-top: 15px;
        transition: opacity .3s;
    }

    .header_nav .dropdown-menu .dropdown-list {
        background: #fff;
        box-shadow: 0 0 15px rgba(37, 143, 103, .07);
        border-radius: 8px;
        padding: 30px;
    }

    .header_nav .dropdown-menu .dropdown-list .nav-item {
        margin-bottom: 30px;
        transition: color .3s;
    }

    .header_nav .dropdown-menu .dropdown-list .nav-item:last-of-type {
        margin-bottom: 0;
    }

    .header_nav .dropdown-menu.active {
        opacity: 1;
        visibility: visible;
    }
}